@import '../global_styles/variables.scss';

.collectionSlide {
  position: relative;
  height: 100%;
  overflow: hidden;
  flex: 100;
  &:hover {
    .collectionImage {
      opacity: 0.8;
    }
    .collectionName {
      opacity: 1;
    }
  }
}

.collectionImage {
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity .5s;
  -webkit-box-shadow: inset 0px 0px 20px 4px rgba(0,0,0,0.31); 
  box-shadow: inset 0px 0px 20px 4px rgba(0,0,0,0.31);
}

.collectionNameWrapper {
  position: absolute;
  bottom: 20%;
  left: 4%;
}

.collectionName {
  opacity: 0;
  color: $color-white-01;
  line-height: 18px;
  transition: opacity .5s;
}

.designerNameWrapper {
  position: absolute;
  width: 10px;
  bottom: 20px;
  right: 10px;
}

.designerName {
  font-size: 12px;
  padding-left: 6px;
  transform: rotate(-90deg);
  color: $color-white-01;
  white-space: nowrap;
  text-transform: uppercase;
  &:before {
    content: '—';
    position: absolute;
    left: -12px;
    margin-top: -1px;
  }
}

.themeBlack {
  color: $color-black-01;
}