@import '../global_styles/variables.scss';

.collectionSlide {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.collectionImage {
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all .5s;
  transform: scale(1.008);
  -webkit-box-shadow: inset 0px 0px 20px 4px rgba(0,0,0,0.31); 
  box-shadow: inset 0px 0px 20px 4px rgba(0,0,0,0.31);
  &:hover {
    transform: scale(1);
  }
}


.collectionNameWrapper {
  position: absolute;
  width: 10px;
  bottom: 20px;
  right: 10px;
}

.collectionName {
  font-size: 12px;
  padding-left: 6px;
  transform: rotate(-90deg);
  color: $color-white-01;
  white-space: nowrap;
  text-transform: uppercase;
  &:before {
    content: '—';
    position: absolute;
    left: -12px;
    margin-top: -1px;
  }
}