.homepageWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-image: url('/static/homepage_placeholder.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}