$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 32px;
$padding-xxl: 40px;

$color-black-01: #000000;
$color-white-01: #FFFFFF;
$color-grey-01: #dadada;
$color-link-light: $color-white-01;
$color-link-light-active: #cdcdcd;